<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>慢慢买比价网--手机版</title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
    <header>
        <div class="logo f_left">
            <a href="#"><img src="images/header_logo.png" alt=""/></a>
        </div>
        <div class="appdown f_right"><a href="#"><img src="images/header_app.png" alt=""/></a></div>
    </header>
    <form action="">
        <div class="search">
            <input type="text" class="searchtex" placeholder="请输入你想比价的商品"/>
            <input type="button" value="搜索" class="searchbtn"/>
        </div>
    </form>
    <div class="spinner one">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
    <nav class="row">



    </nav>
    <div class="recommendItem">
        <a href="#">
            <span>超值折扣推荐</span>
            <img src="images/more.png" alt=""/>
        </a>
    </div>
    <div class="spinner two">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
    <ul id="content">




    </ul>
    <div class="more">
        <a href="#">更多优惠信息 »</a>
    </div>
    <div class="brand">
        <a href="#">品牌排行</a>
    </div>
    <footer>
        <div class="foot_top clearfix">
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="#top" style="width: 40%; border: 0;"><i class="iconfont">&#xe602</i>返回顶部</a>
        </div>
        <div class="foot_bottom">
            <p>
                <a href="#" style="color: red">手机APP下载</a>
                <a href="#">慢慢买手机版</a>
                -- 掌上比价平台
            </p>
            <p>m.manmanbuy.com</p>
        </div>
    </footer>
</body>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/template.js"></script>
<script src="js/index.js"></script>
<script type="text/html" id="navTemplate">
    {{if result}}
    {{each result as value i}}
    <div class="col-xs-3">
        <a href="{{value.titlehref}}">
            <div class="pic">
                {{#value.img}}
            </div>
            <div class="name">{{value.name}}</div>
        </a>
    </div>
    {{/each}}
    {{/if}}
</script>

<script type="text/html" id="contentTemplate">
    {{if result}}
    {{each result as value i}}
    <li>
        <a href="#" class='clearfix'>
            <div class="pic f_left">
                {{#value.productImgSm}}
            </div>
            <div class="info">
                <div class="title">{{value.productName}} <span>{{value.productPinkage}}</span>
                </div>
                <div class="other">
                    <span class="mall">{{value.productFrom}} | {{value.productTime}}</span>
                            <span class="comment f_right">
                                <i></i><span>{{value.productComCount?/\d+/.exec(value.productComCount)[0]:0}}</span>
                            </span>
                </div>
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>
</html>